

li{
    list-style: none;
    display: flex;
}

ul{
    display: flex;
}

.header{
    background-color: forestgreen;
    height: 90px;
}

.main{
    
}

.footer{
    background-color: blue;
    height: 270px;
}