li{
    list-style: none;
}

.header{
    background-color: aqua;
    height: auto;
}

.main{
    background-color: aliceblue;
    height: auto;
}

.footer{
    background-color: aquamarine;
    height: auto;
}