

li{
    list-style: none;
}


.header{
    background-color: forestgreen;
    height: auto;
}

.main{
    background-color: aliceblue;
    height: auto;
}

.footer{
    background-color: blue;
    height: auto;
}